<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accumulate.mapper.UserMapper">

    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"></cache>

    <resultMap type="user" id="userResult">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password" />
        <!--<association property="teacher" javaType="com.luoshengsha.bean.Teacher" select="findTeacher" column="teacher_id"/>-->
    </resultMap>

    <!--<resultMap type="user" id="userResult2">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password" />
        <association property="teacher" javaType="com.luoshengsha.bean.Teacher">
            <result property="id" column="t_id"/>
            <result property="name" column="t_name"/>
        </association>
    </resultMap>-->

    <!-- 保存 -->
    <insert id="add" parameterType="user">
        insert into acc_user(id,name,age,password) values(#{id},#{name},#{age},#{password})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="user">
        update acc_user set name=#{name},age=#{age},password=#{password} where id=#{id}
    </update>

    <!-- 查找 -->
    <select id="find" parameterType="string" resultMap="userResult" flushCache="false" useCache="true">
        select * from acc_user where id=#{id}
    </select>

    <!-- 删除 -->
    <delete id="delete" parameterType="string">
        delete from acc_user where id=#{id}
    </delete>
</mapper>